(
    prefabs: [ 
        "prefabs/game/player.ron", 
        "prefabs/game/light.ron", 
        "prefabs/game/camera.ron",
        "prefabs/items/engines/default.ron",
        "prefabs/items/hulls/default.ron",
        ]
)