#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: Named(name: "game::camera"),
                camera: Orthographic(
                    left: -400.0,
                    top: -400.0,
                    right: 400.0,
                    bottom: 400.0,
                    znear: 0.1,
                    zfar: 2000.0,
                ),
                transform: (
                    translation: (0.0, 0.0, 1.0),
                ),
            ),
        ),
    ],
)
