#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: Named(name: "game::player"),
                player: Player(),
                transform: Transform(),
                controller: Controller(
                    turn_speed: 3.0,
                    max_speed: 100.0,
                    traction: 10.0,
                ),
                gltf: File("models/ship.gltf", ()),
            ),
        ),
    ],
)
