#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: Named(name: "game::player"),
                player: Player(),
                transform: Transform(),
                controller: Controller(
                    turn_speed: 6.0,
                    max_speed: 500.0,
                    traction: 1000.0,
                ),
                weapon_manager: WeaponManager(
                    weapons: [
                        Weapon(
                            name: "Basic Weapon",
                        ),
                    ],
                ),
                sprite_sheet: Sheet(
                    texture: File("textures/player.png", ("IMAGE", ())),
                    sprites: [
                        List((
                            texture_width: 64,
                            texture_height: 64,
                            sprites: [(x: 0,   y: 0, width: 64, height: 64)],
                        )),
                    ],
                    name: "player",
                ),
                sprite: (
                    sheet: "player",
                    sprite_number: 0,
                ),
            ),
        ),
    ],
)
