#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: Named(name: "items::engines::default"),
                engine: 
                    Engine(
                        turn_speed: 1.0,
                        speed_multiplier: 1.0,
                        traction: 0.1,
                    ),
            ),
        ),
    ],
)
