#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: Named(name: "player"),
                transform: (
                    scale: (1.0, 1.0, 1.0),
                    translation: (0.0, 0.0, -10.0),
                ),
                mesh: Shape((shape: Plane(None),)),
                material: (
                    albedo: Generate(Srgba(1.0, 0.3, 0.3, 1.0)),
                ),
                
                //mesh: Shape((shape: Plane(None),)),
                //material: (
                 //   albedo: Generate(Srgba(1.0, 0.3, 0.3, 1.0)),
                //),
            ),
        ),
    ],
)
